<!DOCTYPE html>
<html>
<head>
    <title>Tutor AI Farmasi</title>
    <style>
        #canvas { border: 1px solid black; }
    </style>
</head>
<body>
    <h1>Tutor AI Farmasi</h1>

    <video id="video" width="400" height="300" autoplay></video>
    <button id="capture">Capture</button>
    <canvas id="canvas" width="400" height="300"></canvas>

    <h3>ROI</h3>
    X: <input type="number" id="roi_x" value="50">
    Y: <input type="number" id="roi_y" value="50">
    W: <input type="number" id="roi_w" value="100">
    H: <input type="number" id="roi_h" value="100"><br>

    <h3>Metadata</h3>
    t_min: <input type="number" id="t_min" value="5"><br>
    temp_c: <input type="number" id="temp_c" value="25"><br>
    light_type: <input type="number" id="light_type" value="0"><br>
    device_model: <input type="number" id="device_model" value="0"><br>
    iso: <input type="number" id="iso" value="100"><br>
    exposure: <input type="number" step="0.1" id="exposure" value="0.0"><br>
    wb_mode: <input type="number" id="wb_mode" value="0"><br>

    <button id="predict">Predict</button>

    <h3>Result:</h3>
    <pre id="result"></pre>

    <script src="/static/script.js"></script>
</body>
</html>
